<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Maven project">
  <test thread-count="5" name="Processtest">
    <classes>
      <class name="wipro.automation.processes.MainProcess"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
